.menu {
    background-image: linear-gradient(37deg, rgb(32, 218, 233),rgb(40, 21, 236)) !important;
    color: white;
    max-height: 53.41px;
}

.item {
    color: white !important;
    font-size: 15px;
}

/* .header {
    font-size: 18px;
} */

.main-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.image {
    margin-bottom: 20px;
}

.header {
    margin-bottom: 10px !important;
}

.description {
    margin-bottom: 20px;
}
.book-area {
    padding: 0 !important;
    margin-bottom: 20px;
}

.red {
    margin-top: 10px !important;
}